#Project Related
build/
run/
libs/
saves/
/config/
logs/
crash-reports/
asm/
options.txt
usercache.json
usernamecache.json

# Package Files #
*.jar
*.war
*.ear

#Gradle
.gradle
!gradle/wrapper/

#Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
